h1 {
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 68px;
  }

  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 45px;
    }
  }

  .dotlist {
    list-style-type: none;
    padding: 0;
  }